.checkout-page {

	max-width: 900px;

	margin: 50px auto;

	padding: 30px;

	background-color: white;

	border-radius: 12px;

	box-shadow: var(--box-shadow);
}

.checkout-page h1 {

	margin-bottom: 25px;
}

.checkout-page textarea {

	width: 100%;

	min-height: 120px;

	padding: 15px;

	border: 1px solid #ddd;

	border-radius: 8px;

	margin-bottom: 20px;
}

.checkout-page button {

	padding: 12px 25px;

	border: none;

	border-radius: 8px;

	background-color: var(--primary-color);

	color: white;

	cursor: pointer;
}
.address-section {

	margin-bottom: 30px;
}

.checkout-address {

	padding: 15px;

	border: 2px solid #ddd;

	border-radius: 10px;

	margin-bottom: 15px;

	cursor: pointer;

	transition: 0.3s;
}

.checkout-address:hover {

	border-color:
		var(--primary-color);
}

.checkout-address.selected {

	border-color:
		var(--primary-color);

	background-color:
		#f0fff4;
}
.no-address {

	text-align: center;

	padding: 25px;

	background-color: white;

	border-radius: 12px;

	box-shadow: var(--box-shadow);

	margin-bottom: 20px;
}

.no-address h3 {

	color: #dc3545;
}